* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh; 
    overflow-y: auto;
}

.container-master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
}

.container-img {
    position: relative; /* Corrigido para evitar problemas de sobreposição */
    z-index: -1;
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-height: calc(100vh - 50px); /* Garante que a altura máxima não ultrapasse o viewport */
    object-fit: cover; /* Ajusta o preenchimento sem distorção */
    display: block;
}

.container-img img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    height: 100%; /* Mantém a proporção da imagem */
    object-fit: cover; /* Ajusta o preenchimento sem distorção */
    display: block;
}


button {
    color: white;
    background-color: #2b2929;
    border-radius: 4px;
    width: 175px;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 0;
    border: 2px solid #9FADD2;
    align-self: center;
}


button:hover {
    box-shadow: 0 0 5px #f5f5f8, 0 0 10px #2a2a2b, 0 0 20px #171718, 0 0 30px #545456;
    transform: scale(1.1);
    transition: 0.3s;
}



.foms-fale-conosco {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 5px #f5f5f8, 0 0 10px #2a2a2b, 0 0 20px #171718, 0 0 30px #545456;
    position: fixed;
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    top: 20%;
    left: -100px;
}

input {
    height: 33px;
    padding-left: 5px;
    outline-color: #E60012;
    width: 100%; 
}

textarea {
    padding-left: 5px;
    outline-color: #E60012;
    height: 85px;
    width: 100%; 
}



@media (max-width: 768px) {
    .container-img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .container-img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .container-img {
        position: relative;
        width: 100%;
        height: auto;
    }
}